// Colors
$white: rgba(255, 255, 255, 1);
$white_10: rgba(255, 255, 255, 0.1);
$white_30: rgba(255, 255, 255, 0.3);
$white_50: rgba(255, 255, 255, 0.5);
$white_90: rgba(255, 255, 255, 0.9);
$black: rgba(0, 0, 0, 1);
$black_20: rgba(0, 0, 0, 0.2);
$black_50: rgba(0, 0, 0, 0.5);
$black_70: rgba(0, 0, 0, 0.7);
$black_90: rgba(0, 0, 0, 0.9);