@{
    ViewBag.Title = "Home Page";
}

<div style="text-align: center; background-color: #cccccc;padding: 10px 0;">
    <h1>MVC RenderBody Block</h1>
    <h2>Modify this block will not fired auto reload.</h2>
</div>
